mkdocs>=1.6.1
mkdocs-material>=9.5.45
mkdocs-video
mkdocs-quizdown-plugin @ git+https://github.com/tombreit/mkdocs-quizdown-plugin
markdown
mkdocs-autolinks-plugin
mkdocs-literate-nav
markdown-callouts
mdx-truly-sane-lists>=1.3