annotated-types==0.7.0
babel==2.17.0
backrefs==5.8
beautifulsoup4==4.13.3
bracex==2.5.post1
caption @ git+https://github.com/flywire/caption@2920011ec6dd16d2bde34b626a49799951f82ea4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cmarkgfm==2024.11.20
colorama==0.4.6
coverage==7.8.0
EditorConfig==0.17.0
ghp-import==2.1.0
gitbook2mkdocs @ git+https://github.com/pledra/gitbook2mkdocs@eaad007ad49fb779f116db3331c1f4e07f6d6ad1
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
jsbeautifier==1.15.4
lxml==5.3.1
Markdown==3.7
markdown-callouts==0.4.0
markdown-emdash==0.2.0
markdownify==1.1.0
MarkupSafe==3.0.2
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autolinks-plugin==0.7.1
mkdocs-get-deps==0.2.0
mkdocs-glightbox==0.4.0
mkdocs-literate-nav==0.6.2
mkdocs-material==9.6.12
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.2.1
mkdocs-plugin-inline-svg==0.1.0
mkdocs-quiz-plugin==0.1.0
mkdocs-quizdown-plugin==2025.3.3
mkdocs-video==1.5.0
markdown-it-py==3.0.0
mdurl==0.1.2
natsort==8.4.0
packaging==24.2
paginate==0.5.7
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
pydantic==2.11.2
pydantic_core==2.33.1
Pygments==2.19.1
pymdown-extensions==10.14.3
pytest==8.3.5
pytest-cov==6.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyyaml_env_tag==0.1
requests==2.32.3
setuptools==78.1.0
six==1.17.0
soupsieve==2.6
typing-inspection==0.4.0
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
wcmatch==10.0
