abbr {
    font-weight: bold;
}
abbr[title] {
    position: relative;
    cursor: help;
    text-decoration: underline dotted;
  }
  
  abbr[title]::after {
    content: attr(title);
    position: absolute;
    background-color: var(--md-tooltip-bg-color, #333);
    color: var(--md-tooltip-fg-color, #fff);
    padding: 0.4rem;
    border-radius: 0.2rem;
    box-shadow: var(--md-shadow-z2);
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-0.5rem);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  
  abbr[title]:hover::after {
    opacity: 1;
    transform: translateY(-1rem);
  }
  